{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}
  Регистрация нового пользователя
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        {% with request.resolver_match.view_name as view_name %}
          {% if view_name == "users:registration" %}
            Регистрация пользователя
          {% else %}
            Редактирование профиля пользователя {{ user.username }}
          {% endif %}
        {% endwith %}
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="Создать" %}
        </form>
        <br>
        <a href="{% url 'users:password_change' %}">Сменить пароль</a>
      </div>
    </div>
  </div>
{% endblock %}
