{% load thumbnail %}
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
  <figure class="effect-ming tm-video-item">
    {% thumbnail image.image "450" upscale=False as im %}
      <img src="{{ im.url }}" alt="{{ image.name }}" class="img-fluid">
    {% endthumbnail %}

    <figcaption class="d-flex align-items-center justify-content-center">
      <h2>{{ image.name }}</h2>
      <a href="{% url 'gallery:image' image.pk %}">View more</a>
    </figcaption>          
  </figure>
  <div class="d-flex justify-content-between tm-text-gray">
    <span>
      <a href="{% url 'gallery:user_profile' image.author.username %}">{{ image.author.username }}</a>
      <br>
      {{ image.created|date:'d-m-Y H:i' }}
    </span>
    {% include 'gallery/includes/taglist.html' with tags=image.tags.all %}
    {% if tag_form %}
      <span>
        <input type="checkbox" value="{{ image.pk }}" name="choices" form="tag_selector" class="form-check-input">
      </span>
    {% endif %}
  </div>
</div>